/* font */
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&family=Berkshire+Swash&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Bellota";
  font-weight: 400;
  text-decoration: none;
}

.welcome {
  background-image: url("../assets/wed.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* position: relative; */
  /* width: 100vw; */
  height: 600px;
}
/* .image {
  object-fit: cover;
  object-position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

footer {
  height: 150px;
  background-color: rgb(37, 32, 32);
}

.img-about {
  max-width: 350px;
  max-height: 450px;
}

.pertemuan {
  width: 100%;
}
